/***** common vars *****/
:root {
 --text-bg: white;
 --text-fg: black;
 --button-bg: royalBlue;
 --button-fg: ivory;
 --link-fg: blue;
 --line-fg: silver;
}
@media (prefers-color-scheme: dark) {
 :root {
  --text-bg: gray;
  --text-fg: ivory;
  --button-bg: dimGray;
  --button-fg: ivory;
  --link-fg: paleTurquoise;
  --line-fg: silver;
 }
}


/***** index.html *****/
body { text-align:center; height:100%; background:var(--text-bg); color:var(--text-fg); }
button {
 border-style:none; font-weight:bold; width:80px; border-radius:8px;
 background-color:var(--button-bg); color:var(--button-fg);
}
hr { color:var(--button-bg); }

.tabBody iframe { width:100%; border:0; }

/***** readme.html *****/
body#readme { text-align:left; }
body#readme h1 { border-bottom: solid 4px var(--button-bg); }


/***** chart.html *****/
div.text1 { position:relative; z-index: 1; }
div.plot { position:relative; z-index: -1; margin-top: 0%; }
div.text2 { position:relative; z-index: 1; margin-top: 0%; }


/***** table.html *****/
img#tenki { width: 24px; height: 24px; }
.dataframe a { text-decoration:none; color:var(--link-fg); }
.dataframe td { white-space: nowrap; border-bottom: 1px solid var(--line-fg); }
.dataframe table { border: 1 }
/* 行ヘッダの固定 */
.dataframe thead th {
  text-align: center; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--button-bg); color: var(--button-fg);
}
/* 列ヘッダの固定 */
.dataframe tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--button-bg); color: var(--button-fg);
}

